#colors() {
    //modoclaro
    backgroundColorLight:#f5f6fa;
    buttonColorA: #44bd32;
    buttonColorB: #229532;
    textColorLight: #001802;
    headerColorLight: #182C61;

    //modoDark
    backgroundColorDark:#2c2c2c;
    textColorDark: #ffffff;
    headerColorDark: #182C61;

}

#fonts() {
    // fontes
    fontPrincipal : sans-serif;
}
